@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    background-color: #080808 ;
    font-family: "Poppins", sans-serif;
    color:#fff;
}

li, a, button{
    font-size:18px ;
    color: #fff;
    text-decoration: none;

}

li:hover{
    text-shadow: 0px 0px 9px white;
    transform: scale(1.3);
    transition: 0.5s;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    background-color:  #080808;
}

.logotipo {
    color:#fff;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 0 0 25px #00ffee;
}


.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a:hover{
   color: #00ffee;
}

button{
    padding: 10px 20px;
    background-color: #7bf1eadc;
    border: none;
    border-radius: 60px;
    cursor: pointer;
}

button:hover{
    background-color: #8dd6d1dc;
}


main{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}


.foto-perfil{
    height: 28em;
    width: 28rem;
    border-radius: 180rem;
    box-shadow: 0px 0px 10px #7bf1eadc;
}

.texto-marcado{
    color: #7bf1eadc;
    
}