@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    
    background-color: #080808 ;
    font-family: "Poppins", sans-serif;
    color:#fff;
}

li, a, button{
    font-size:18px ;
    color: #fff;
    text-decoration: none;

}

li:hover{
    text-shadow: 0px 0px 9px white;
    transform: scale(1.3);
    transition: 0.5s;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 15px;
    background: rgba(0,0,0,0.6);
}

.logotipo {
    color:#fff;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 0 0 25px #00ffee;
}


.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a:hover{
   color: #00ffee;
}

button{
    padding: 10px 20px;
    background-color: #7bf1eadc;
    border: none;
    border-radius: 60px;
    cursor: pointer;
}

button:hover{
    background-color: #8dd6d1dc;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:25px;
    padding-top: 2rem ;
}



.foto-perfil{
    height: 23em;
    width: 23rem;
    border-radius: 180rem;
    box-shadow: 0px 0px 20px #7bf1eadc;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.links-de-contato a {
    display: inline-block;
    margin: 10px;
    font-size: 30px;  
    background: transparent;
}

.links-de-contato a :hover{
   text-shadow: 0 0 25px #00ffee;
}


.texto-marcado{
    color: #7bf1eadc;
    
}


